



.header {
  position: fixed;
}
.navigation {

  width: 831px;
  list-style-type: none;

  padding: 0;
  overflow: hidden;

    background: linear-gradient(-45deg, #b25f2b, #e17637);
    border-bottom: solid #640264 2px;
}
.header__navigation {
    height: auto;


}

.header__navigation__logo {
  position: absolute;
  float: left;
  background-image: url(../images/logo_kosarkaski_klub.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 37px;
  height: 37px;
  margin: 13px  0 0 6px;
}



.navigation__link {
    display: block;
    color: #324d5c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: mySecondFont;
    font-size: 50px;
}

.navigation__link:hover {

    background: #ddd;
    color: black;

}



.navigation__dropdown {

    background-color: #f9f9f9;
    min-width: 132px;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;

}

.navigation__dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}



.navigation__item--has-dropdown:hover .navigation__dropdown {
    display: block;
}



@media screen and (min-width: 831px) {
  .navigation {
    width: 850px;
  }
  .navigation__link {
      display: inline-block;
      color: #324d5c;
      text-align: center;
      padding: 12px 10px 0 10px;
      text-decoration: none;
  }

  .navigation__link:hover {

      background: #ddd;
      color: black;

  }

  .navigation__dropdown-link:hover {
      background-color: #f1f1f1
  }

  .navigation__dropdown {
      display: none;
      position: absolute;


  }

  .navigation__item {
      float: right;
  }
}
