* {
  margin: 0;
  padding: 0;

}
body {
  background-color: gray;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Sportscenter.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/FTY_DELIRIUM_NCV.ttf);
}

@font-face {
    font-family: myThirdFont;
    src: url(../fonts/FTYSTRATEGYCIDENCV.ttf);
}

.container {


  max-width: 850px;

  height: 3490px;

  background-color: #f0ca4d;
  margin: 0 auto;
}

/*-----PARALAX START-------*/


.paralax {
  /* The image used */

    background-image: url("../images/kos.jpeg");

    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*-----[PARALAX END]-------*/

.article {
  border-top: solid #640264 2px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.article__h1 {
  background: -webkit-linear-gradient(#324d5c, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: myThirdFont;
  text-align: center;
  font-size: 50px;
  color: #13312c;
}

.article__p, .article__ul-li, .article__ul, .article__h3 {
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  padding: 5px 10px 2px 10px;
  text-align: center;
  list-style-type: none;
  color: #1b2a32;
}


/*-----BUTTON START-------*/

.button {
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #f89a05;
  width: 100%;
  font-size: 50px;
  height: 175px;
  background-color: #640264;
  border: solid #5d035d 5px;
  }


.button:hover{
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #fcfe02;
  width: 100%;
  font-size: 50px;
  height: 175px;
  background-color: #040264;
  border: solid #030161 5px;
  }

/*-----BUTTON END-----*/

/*-----FORM START-------*/

.form{
  margin: 20px 0px 20px 0px;
  padding: 15px;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(-75deg, #f0ca4d, #ddba49);


}

.form__levi {

  max-width: 850px;

}

.form__desni {

  max-width: 850px;


}



.form__submit {
  margin-top: 30px;
  margin-left: calc(50% - 75px) ;
  width: 150px;
  font-size: 30px;
}

.form__submit:hover {
  background-color: black;
  color: lightgray;
}
/*-----FORM END-------*/


/*-----SCTION START-------*/



.section {

  max-width: 100%;
  height: 477px;
  margin: 0 ;
}



.section__direktor {
  border-top: solid #720b5c 2px;
  float: left;
  max-width: 48%;
  height: 487px;
  background: linear-gradient(-77deg,#640264, #f0ca4d);

  padding-top: 10px;
  margin: 0 1% 1% 1%;
}

.section__trener {
  border-top: solid #640264 2px;
  float: left;
  max-width: 48%;
  height: 487px;
  background: linear-gradient(-77deg, #ddba49, #640264);

  padding-top: 10px;
  
  margin: 0 1% 1% 1%;
}

.section__heding {
  border-bottom: solid #720b5c 2px;
}

.section__heding h4{
    text-align: center;
    font-family: myFirstFont;
    font-size: 20px;
    padding-bottom: 9px;
    margin: 0px;

}

.section__podaci {
  margin-top: 20px;
  border-top: solid #720b5c 2px;
  border-bottom: solid #720b5c 2px;
  height: 68px;
}

.section__podaci h5 {

  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;

}
.section__pozadina {
  background-color:  #a4283d;

  max-width: 98%;
  height: 335px;
  padding: 6px 0 0px 0px;
  margin-left:  5px;
  margin-top: 20px;

}

.section__slika {
  background-image: url("../images/direktor.jpg");

  background-size: cover;

  max-width: 98%;
  height: 330px;


}

.section__slika2 {
  background-image: url("../images/trener3.jpg");

  background-size: cover;

  max-width: 100%;
  height: 330px;



}


/*-----SCTION END-------*/

/*------ASIDE START-----*/


.aside {

  max-width: 100%;
  height: 199px;
  background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
  margin:50px 1%;
}

.aside__h4 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;

}

.aside__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.aside__li{
  margin: 5px 0;
  padding:5px 2px;
  text-align: center;

}

.aside__h4 {
  background: -webkit-linear-gradient(#324d5c, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: mySecondFont;
  font-size: 39px;

}
.aside__a{
  text-transform: capitalize;
  text-decoration: none;
   font-family: 'Roboto Slab', serif;
}

.aside__a:link {
  color: #de344f;


}

.aside__a:visited {
  color:  green;


}

.aside__a:hover{
  color: #f7e1d4;
  background-color: #e37b40;
}

.aside__a:active{
  background-color: #f53855;
  color: #2b4350;

}

 /*------ASIDE END-----*/

 /*-----AUDIO VIDEO START-------*/



 .audio-video {

   background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
   max-width: 96%;
   height: 300px;
   margin: 50px 2% 50px 2%;


   background-color: gray;
 }

 .audio-video__video {
   float: left;
   max-width: 46%;
   padding: 0% 1%;
 }
 .audio-video__naziv  {
   font-family: myFirstFont;
   color: #1b2a32;
   font-size: 20px;
   width: 100%;
   text-align: center;
   padding: 10px 0;
 }

 video {
   max-width: 100%;
   max-height:  282px;



 }

 .audio-video__audio {
   float: right;
   width: 46%;
   padding: 0 1%;



 }

 audio {

   max-width: 100%;
   max-height:  211px;
 }

 /*-----AUDIO VIDEO END-------*/

 /*-----FOOTER START-------*/

 .footer {
   max-width: 100%;
   text-align: center;
   background: linear-gradient(-67deg, #b25f2b, #e18637);
   margin-top: 0px;
 }

 .footer__p {
   font-family: 'Roboto Slab', serif;
   text-transform: capitalize;
   margin: 7px;
   color: #1b2a32;
 }

 .footer__h1 {
   background: -webkit-linear-gradient(#324d5c, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: mySecondFont;
   font-size: 60px;
   padding: 10px 0px 0px 0px;
   margin: 0;
 }

 /*-----FOOTER END-------*/






@media screen and (min-width: 831px) {
  .container {
    height: 3191px;
  }

  .article__p, .article__ul-li, .article__ul, .article__h3 {
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    padding: 10px 50px 0 50px;
    text-align: left;
    list-style-type: none;
    color: #1b2a32;
  }

  .form{
    margin: 20px 25px 20px 25px;
    padding: 15px;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(-75deg, #f0ca4d, #ddba49);

  }
  .form__levi {
    float: left;
    width: 324px;
    margin-right: 0px;
    padding: 25px 25px 0px 15px;
    height: 320px;

  }


  .form__desni {
    float: right;
    width: 324px;
    margin-left: 0px;
    padding: 25px 25px 0px 15px;
    height: 320px;

  }

  .section {
    float: right;
    max-width: 100%;
    height: 477px;
    margin: 5px 9px 5px 1px;
  }

  .section__direktor {
    border-top: solid #720b5c 2px;
    float: left;
    mwidth: 280px;
    height: 487px;
    background: linear-gradient(-77deg,#640264, #f0ca4d);

    padding-top: 30px;
    margin-right: 2px;
  }

  .section__trener {
    border-top: solid #640264 2px;
    float: left;
    width: 280px;
    height: 487px;
    background: linear-gradient(-77deg, #ddba49, #640264);

    padding-top: 30px;
  }

  .aside {

    float: left;
    width: 28%;
    height: 484px;
    background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
    margin:0 1%;
  }

  .aside__h4 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .aside__li{
    margin: 15px 0;
    padding:15px 2px;
    text-align: center;

  }

  .audio-video {
    background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
    width: 96%;
    height: 300px;
    margin-top: 600px;
    margin-left: 2%;
    margin-right: 2%;

    background-color: gray;
  }

  audio {
    max-width: 100%;
    height:  211px;
  }

}
